<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Animais</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css
/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark
bg-success">
        <a class="navbar-brand" href="/">LNDigital Rural</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Tabela de Animais</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Espécie</th>
                    <th scope="col">Identificação</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Genêro</th>
                    <th scope="col">Data Inseminação</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Raça</th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animais %}
                <tr>
                    <td>{{ animal.nome }}</td>
                    <td>{{ animal.especie }}</td>
                    <td>{{ animal.identificacao }}</td>
                    <td>{{ animal.data_nasc }}</td>
                    <td>{{ animal.genero }}</td>
                    <td>{{ animal.data_inseminacao }}</td>
                    <td>{{ animal.peso }}</td>
                    <td>{{ animal.raca }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluindo jQuery e Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>